__pycache__
.vscode
.empty
native-code/build
scripted-modules
generated/*
!generated/analysis-jobs
*.yml
.idea
*.model
docs
backups
restores
*.csv
dask-worker-space/
jobs
exlcuded-folders
figures
benchmarks